---
import Badge from "../components/Badge.astro"
import Layout from "../layouts/Layout.astro"
import LinkedInIcon from "../icons/LinkedIn.astro"
import GitHubIcon from "../icons/GitHub.astro"
import SocialPill from "../icons/SocialPill.astro"
---

<Layout title='Welcome to Astro.'>
  <section class='w-full lg:w-[860px] mx-auto py-44'>
    <img
      class='rounded-full w-17 h-17 mb-4'
      src='FotoPerfil.jpeg'
      alt='hug0gil photo'
    />
    <h1 class='text-white text-5xl font-bold flex flex-row gap-x-4 pb-5'>
      Hola, soy Hugo Gil Bail칩n<a
        href='https://www.linkedin.com/in/hugo-gil-bail칩n'
        target='_blank'
        class='flex justify-center items-center'
        ><Badge>Disponible para trabajar</Badge></a
      >
    </h1>
    <h2 class='text-xl text-wrap'>
      <span class='text-red-300'>Desarrollador Web y Multiplataforma. </span>
      <span>De Jerez de la Fontera (C치diz), Espa침a 游쀯릖</span>
      <span>Especializado en Laravel 游 usando principios SOLID</span>
    </h2>

    <nav class='flex gap-x-4 mt-8'>
      <SocialPill href='https://www.linkedin.com/in/hugo-gil-bail칩n'>
        <LinkedInIcon class='w-6 h-6' />
        Linkedin
      </SocialPill>
      <SocialPill href='https://github.com/hug0gil'>
        <GitHubIcon class='w-6 h-6' />
        GitHub
      </SocialPill>
    </nav>
  </section>
</Layout>

<!--<img
      src='https://media.giphy.com/media/hvRJCLFzcasrR4ia7z/giphy.giff' la f
      width='35'
    /> -->
