---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
  {
    date: "mar. 2025 - jun. 2025",
    title: "Desarrollador de Delphi",
    company: "Astec Informática",
    description:
      "Prácticas de FPGS DAM enfocadas en la creación de un ERP funcional, proyecto realizado con el IDE Delphi 2010 (Object Pascal) junto a tecnologías como Firebird 5.0, PL/SQL y Drupal 10.",
    link: "#",
  },
  {
    date: "jun. 2024 - ago. 2024",
    title: "Promotor de Lenovo",
    company: "WANA Living Emotions",
    description:
      "Me encargué de ayudar en el montaje, mantener y proporcionar mantenimiento a los equipos informáticos y simuladores de carreras del stand de Lenovo. También atendía a los clientes y resolvía dudas.",
    link: "https://www.youtube.com/watch?v=Ld6r0J7wfD0",
  },
  {
    date: "mar. 2023 - jun. 2023",
    title: "Técnico de reparación de equipos informáticos",
    company: "CUBiT Information Technology Solutions",
    description: "Prácticas realizadas mediante el programa Erasmus +",
    link: "https://www.youtube.com/watch?v=Ld6r0J7wfD0",
  },
]
---

<ol class='relative border-s border-white/80 ml-3'>
  {
    EXPERIENCE.map((experience) => (
      <li class='mb-10 ms-4'>
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
