<footer
  class='rounded-lg shadow-sm m-4 bg-black/50 backdrop-blur-lg w-full xl:w-[1120px] mx-auto'
>
  <div
    class='w-full mx-auto max-w-7xl p-4 md:flex md:items-center md:justify-between'
  >
    <span class='text-sm text-red-300/90 sm:text-cente'
      >© 2025 <a href='https://github.com/hug0gil' class='hover:underline'
        >hug0gil.
      </a>Casi todos los derechos reservados
    </span>
    <ul
      class='flex flex-wrap items-center mt-3 text-sm font-medium text-white/80 sm:mt-0'
    >
      <li>
        <a href='#' class='hover:underline me-4 md:me-6'>Sobre mí</a>
      </li>
      <li>
        <a href='#' class='hover:underline'>Contact</a>
      </li>
    </ul>
  </div>
</footer>
