<header
  class='flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto'
>
  <nav class='flex flex-row justify-center xl:gap-x-10 gap-x-3'>
    <a
      href='#top'
      class='transition-colors duration-300 text-white/75 hover:text-white'
      >Inicio</a
    >
    <a
      href='#experiencia'
      class='transition-colors duration-300 text-white/75 hover:text-white'
      >Experiencia</a
    >
    <a
      href='#proyectos'
      class='transition-colors duration-300 text-white/75 hover:text-white'
      >Proyectos</a
    >
  </nav>
</header>
