<header class='flex justify-center items-center py-3 w-[1120px]'>
  <nav class='flex gap-16 text-sm opacity-80 mt-2'>
    <a href='/'>Home</a>
    <a href='/'>About</a>
    <a href='/'>Projects</a>
    <a href='/'>Contact</a>
  </nav>
</header>
