---
import Header from "../components/Header.astro"
import "../styles/global.css"
---

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <title>Mi Porfolio</title>
  </head>

  <body>
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>

<style is:global>
  :root {
    color-scheme: light dark;
  }

  html {
    font-family: "Onest Variable", system-ui, sans-serif;
  }
  body {
    background: #050500;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }
</style>
